<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
      <h1>Sign up - Social</h1>
        <form action="/sign_up" method="post">
          <div>
             <input type="text" placeholder="NOME" name="name" id="name" />
          </div>

          <div>
              <input type="email" placeholder="EMAIL" name="email" id="email" />
          </div>

          <div>
              <input type="password" placeholder="SENHA" name="password" id="password" />
          </div>

          <div>
              <input type="password" placeholder="REPITA A SENHA" name="password_confirmation" id="password_confirmation" />
          </div>

          <div>
              <input type="submit" value="Sign Up">
          </div>


        </form>
    </div>
  </main>
</body>
</html>
