@layout('layout/app')

@section('content')




      @if(auth.user.isAdmin)
        <div>
          <p>ADM : {{auth.user.email}}</p>
          <p>Nome : {{auth.user.username}}</p>

        </div>
        <a href="{{route('users.manage')}}"> Gerenciar </a>
      @else
        REGULAR USER {{auth.user.email}}
      @endif

      @if(auth.user)
          <a href={{route('auth.logout')}}> Logout</a>

      @else
           <a href="/login">LOGIN</a>
      @endif


      @endsection
