<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

  <main>
    <div>
     {{--   <h1 class="title"> It Works! </h1>
      <p class="subtitle">
        Congratulations, you have just created your first AdonisJS app.
      </p>

      <ul>
        <li>
          The route for this page is defined inside <code>start/routes.ts</code> file
        </li>

        <li>
          You can update this page by editing <code>resources/views/welcome.edge</code> file
        </li>

        <li>
          If you run into problems, you can reach us on <a href="https://discord.gg/vDcEjq6?">Discord</a> or the <a href="https://forum.adonisjs.com/">Forum</a>.
        </li>
      </ul>  --}}
      <h1 class="title"> Cadastro de Cliente </h1>

      <p class="subtitle">
        Cadastre-se para acessar as ferramentas disponiveis.
      </p>

      <form action="{{ route('SignupController.cadastro') }}" method="post">

          <label for="nome">
            <input type="text" name="nome" id="nome" placeholder="NOME">
          </label>

          <label for="sobrenome">
            <input type="text" name="sobrenome" id="nosobrenomeme" placeholder="SOBRENOME">
          </label>

          <label for="idade">
            <input type="number" name="idade" id="idade" placeholder="IDADE">
          </label>

          <label for="email">
            <input type="text" name="email" id="email" placeholder="EMAIL">
          </label>

          <label for="password_1">
            <input type="password" name="password_1" id="password_1" placeholder="SENHA">
          </label>

          <label for="password_2">
            <input type="password" name="password_2" id="password_2" placeholder="CONFIRMA SENHA">
          </label>

          <input type="submit" value="Enviar">
      </form>
    </div>
  </main>
</body>
</html>
