<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <section>
    <a href="/signup">Voltar</a>

    <h1>Login</h1>
    <div>

      @if(flashMessages.has('form'))
          <div role="alert">
            {{flashMessages.get('form')}}
          </div>
      @endif

      <form action={{ route('auth.login') }} method="post">
        <div>
            <input type="text" name="uid" id="loginField" placeholder="EMAIL">
        </div>

        <div>
            <input type="password" name="password" id="password" placeholder="SENHA">
        </div>

        <div>
          <input type="submit" value="Sign In">
        </div>

      </form>
    </div>
  </section>

</body>
</html>
