<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to Adonis</title>
</head>
<body>


    @if(auth.isAuthenticated)
          <h1>{{auth.user.name}}</h1>
          <form action="/logout" method="post">
              <input type="submit" value="Sign Out">
          </form>

      @else
           <a href="/login">LOGIN</a>
      @endif


</body>
</html>
