<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <section>
    <a href="/admin">ADMIN</a>
    <a href="/login">LOGIN</a>
    {{inspect(flashMessages.all())}}


    <h1>Sign Up - Social</h1>
    <div>
      <form action={{route('auth.signup')}} method="post">
        <div>
            <input type="text" name="username" id="username" placeholder="USERNAME"/>
        </div>

        <div>
            <input type="email" name="email" id="email" placeholder="EMAIL">
        </div>

        <div>
            <input type="password" name="password" id="password" placeholder="SENHA">
        </div>

        <div>
          <input type="password" name="password_confirmation" id="password_confirmation" placeholder="SENHA">
        </div>

        <div>
          <input type="submit" value="Sign Up">
        </div>

      </form>
    </div>
  </section>

</body>
</html>
