<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <section>
        <!-- AQUI EU TO FAZENDO O FORMULARIO PRA PESSOA SE CADASTRAR NO SISTEMA , METODO POST E DB == SQLITE-->
        <form action="/signup" method="POST">
            <div>
                <label for="name"></label>
                <input type="text" name="name" id="name"/>

            @if(flashMessages.has('errors.name'))
                 <p> {{ flashMessages.get('errors.name') }} </p>
            @end

            </div>

            <div>
                <label for="email"></label>
                <input type="email" name="email" id="email"/>

            @if(flashMessages.has('errors.email'))
                <p> {{ flashMessages.get('errors.email') }} </p>
           @end
            </div>
            
            <div>
                <label for="password"></label>
                <input type="password" name="password" id="password"/>
            </div>


            <div>
                <label for="password_confirmation"></label>
                <input type="password_confirmation" name="password_confirmation" id="password_confirmation"/>
            </div>
            
            <div>
                <input type="submit" value="Sign Up">
            </div>
        </form>

    </section>

</body>
</html>
